@model IEnumerable<Homework1.Models.ViewModels.MoneyViewModels>

@{
    Layout = "";
    int i = 1;
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(++i)
            </td>
            <td>
                @item.Type
            </td>
            <td>
                @item.RecordDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.Amount.ToString("#,#")
            </td>
        </tr>
    }

</table>

